body {
    margin: 0;
    padding: 0;
}

.title {
    justify-content: center;
    margin: 0 auto;
    width: 9rem;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    outline: none;
    height: 2rem;
    margin: 10px;
    border-radius: 5px;
}

button {
    width: 5rem;
    justify-items: center;
    margin: 0 auto;
}

.theList {
    border: black solid 2px;
    width: 20rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
}

ul {
    list-style: none;
    position: relative;
}


